<p class="text-3xl">Precios del servicio</p>
<hr class="my-2">

<section>
    <p class="mb-4">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. In delectus quis, dolor quaerat minima totam? Tenetur, vero vitae? Adipisci natus culpa non illo esse amet, voluptates sit nesciunt porro accusamus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio velit est alias dicta, officia similique quis molestias aliquam, hic neque a eveniet aliquid repellat doloremque facilis eius tempora ipsa molestiae? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse ea impedit obcaecati repellendus. Dolore, tenetur? Laboriosam veniam impedit rem voluptatibus sapiente expedita inventore recusandae, iure facilis aut voluptas maxime tempore.       
    </p>    
</section>