<p class="text-3xl">Contacto</p>
<hr class="my-2">

<section>
    <p class="mb-4">
        Adipisicing elit. In delectus quis, dolor quaerat minima totam? Tenetur, vero vitae? Adipisci natus culpa non illo esse amet, voluptates sit nesciunt porro accusamus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias beatae ex dolorem iure quo modi, asperiores accusamus aliquam eum itaque quod repudiandae, reiciendis similique magnam quis. Voluptatibus iure suscipit ipsum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, odit. Eaque incidunt nihil voluptates dolore enim alias et rerum similique nam provident impedit, doloremque, harum, maiores sunt voluptas ullam voluptatem.     
    </p>    
</section>