<p class="text-3xl">Sobre la aplicación</p>
<hr class="my-2">

<section>
    <p class="mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, autem consectetur necessitatibus quidem quia molestias consequuntur repudiandae accusantium quos. Natus, autem consectetur necessitatibus quidem quia molestias consequuntur repudiandae accusantium quos. Natus, autem consectetur necessitatibus quidem quia molestias consequuntur repudiandae accusantium quos. Natus, autem consectetur necessitatibus quidem quia molestias consequuntur repudiandae accusantium quos. Natus, autem consectetur necessitatibus quidem quia molestias consequuntur repudiandae accusantium quos.        
    </p>    
</section>